body{
    background-color: #BAD1C2;
    margin: 0px;
}

 h1{
    color: #153462;
    font-family: 'Sono', sans-serif;
    font-weight: 200;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

button{
    color: #4FA095;
    font-family: 'Sono', sans-serif;
    font-weight: 200;
    font-size: 40px;
    background-color: #F6F6C9;
    border-radius: 28px;
    padding: 10px 20px 10px 20px;
    margin: 20px 500px 0px;
}

button:hover{
    transform: rotateX(15deg);
    box-shadow: 0 15px 15px #4FA095;
}

#dm{
    padding-left: 75px;
    padding-right: 70px;
}

.date{
    color: #153462;
    font-family: 'Sono', sans-serif;
    font-size: 100px;
    margin-top: 0px;
}

.clock{
    color: #153462;
    font-family: 'Sono', sans-serif;
    font-size: 75px;

}
  
.footer{
    background-color: #153462;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
}

p{
    color: aliceblue;
    margin-left: 600px;
}

.text{
    text-align: center;
    
}